@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffe0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}