<!DOCTYPE html>
<html>
<head>
    <title>Count</title>
</head>
<body>
    <h1>감정 개수 선택
        

    </h1>
    <form action="applyemotion",method="post">
    <input placeholder="Happiness 개수 입력" required name="Happiness" type="number">
    <input placeholder="Sadness   개수 입력" required name="Sadness" type="number">
    <input placeholder="Fear      개수 입력" required name="Fear" type="number">
    <input placeholder="Anger     개수 입력" required name="Anger" type="number" >
    <input placeholder="Neutral   개수 입력" required name="Neutral" type="number">
    <input placeholder="Surprise  개수 입력" required name="Surprise" type="number">
    <input placeholder="Disgust   개수 입력" required name="Disgust" type="number">

    <input type="submit"/ >
    </form>
</body>
</html>